/* 商品画像スライダー */
.mySwiper {
  max-width: 500px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: white;
}

.swiper-slide img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  display: block;
}

.swiper-pagination-bullet-active {
  background: #E8B931;
}

/* ユーザーアイコン */
.user_icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.user_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: 1px solid black;
}

a {
  color: black;
}

/* コメント */
.comment-scroll-area {
  max-height: 200px;
  overflow-y: auto;
  /* 縦スクロール */
  padding-right: 10px;
  padding-bottom: 30px;
}

.comment {
  background-color: #95845a1a;
  padding: 20px;
  border-radius: 5px;
}

.purchase {
  position: fixed;
  bottom: 5rem;
  right: 25px;
}

.item_delete {
  background-color: red;
  color: white;
  position: fixed;
  bottom: 5rem;
  right: 25px;
}

/* 商品概要スクロール */
@media screen and (min-width: 1024px) {
  #detail_display {
    background: #FFFAEB;
    max-height: 150px;
    overflow-y: auto;
    padding: 30px;
  }
}