#page_title {
  position: relative;
  margin: 20px 0 20px 20px;
  background-color: #fffaeb;
  z-index: 1;
}

.navbar-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  pointer-events: none;
}

#back_button {
  border: none;
  background-color: #fffaeb;
}